<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/actualizar.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <title>Actualizacion | Ordenes No procesables</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <nav class="nav-main">
        <img src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.0/mercadolibre/favicon.svg" alt="" class="logo">
        <h1 class="text_logo"><b>mercado libre</b></h1>
     
    <div class="user_info">
        <p>Estas Viendo:{{Datos['SiteName']}} | {{Datos['UserName']}}</p>  
    </div>
    
    </nav>
    <div class="container"> 
        <section>
            <form action="/r_a_o_np" method="post">
                <h1> Actualizacion | Ordenes No procesables</h1>
                <hr>
                <label for="id_orden ">ID Orden:
                    <select name="id_orden">
                        <option value="{{Info[0][0]}}">
                            {{Info[0][0]}}
                        </option>
                    </select>
                </label>
                <h5>Usuario WMS: {{Info[0][1]}}</h5>
                <h5>Paquetera: {{Info[0][2]}}</h5>
                <h5>Orden: {{Info[0][3]}}</h5>
                <h5>Pallet: {{Info[0][4]}}</h5>
                <h5>Tipo: {{Info[0][5]}}</h5>
                <h5>Fulfillment origen: {{Info[0][6]}}</h5>
                <h5>estatus: {{Info[0][7]}}</h5>
                <h5>service_center: {{Info[0][8]}}</h5>
                <h5>region: {{Info[0][9]}}</h5>
                <h5>ticket: {{Info[0][10]}}</h5>
                <h5>fecha_ticket: {{Info[0][11]}}</h5>
                <label for="Comentario">
                    Comentario: 
                    <input type="textarea" name="Comentario" value="{{Info[0][13]}}" required>
                </label>
                <label for="Status">Estatus:
                    <select name="Status">
                        <option value="Pendiente">Pendiente</option>
                        <option value="Cerrado">Cerrado</option>
                        <option value="Reprogramada">Reprogramada</option>
                        <option value="Rechazado">Rechazado</option>
                        <option value="En Investigacion">En Investigacion</option>
                        <option value="Otro">Otro</option>
                    </select> 
                </label>
                <input type="submit" class="btn" name="enviar" value="Confirmar" >
            </form>
        </section>
    </div>
</section>
</body>
</html>