{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Trackin.css')}}">
    <title>Track In Ordenes</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="container"> 
        <section>
            <h1 class="Tituloprealert">Track In de la Orden: {{Orden}}</h1>
            {%if Servicedata|length >0%}
            <div class="Service-valido">
                <button class="accordion"><i class="fas fa-warehouse">   Service Center</i></button>
                <div class="panel">
                    {%for Service in  Servicedata%}
                    <button class="accordion"><i class="fas fa-sitemap"> Pre-Alert  {{Service.2}} - {{Service.3}} | {{Service.14}}</i></button>
                    <div class="panel">
                        <table>
                            <TR>
                                <TH>Pre-Alert Key</TH>
                                <TH> Destino</TH>
                                <TH>Datos de Trasporte</TH>
                                <TH>Paquetera</TH>
                                <TH>Responsable</TH>
                            </TR>
                            <TR>
                                <TD>{{Service.1}}</TD>
                                <TD>{{Service.4}} - {{Service.5}}</TD>
                                <TD>Transporte: {{Service.6}}, Transportista: {{Service.7}}, Placas: {{Service.8}}, Marchamo: {{Service.11}} </TD>
                                <TD>{{Service.10}}</TD>
                                <TD>{{Service.12}}</TD>
                            </TR>
                        </table>
                    </div>
                    {%endfor%}
                </div>
            </div>
            {%else%}
            <div class="Service-Invalido">
                <button class="accordion"><i class="fas fa-warehouse">   Service Center</i></button>
                <div class="panel">
                
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
            {%if Crossdata|length >0%}
            <div class="Cross-valido">
            <button class="accordion"><i class="fas fa-sitemap">   Cross Dock</i></button>
            <div class="panel">
                {%if reciboCrossdata|length >0 %}
                {%for reciboCross in  reciboCrossdata%}
                <button class="accordion"><i class="fas fa-sitemap"> Reciving  {{reciboCross.6}} - {{reciboCross.7}} | {{reciboCross.10}}</i></button>
                <div class="panel">
                <table>
                    <TR>
                        <TH>Pre-Alert Key</TH>
                        <TH>Paquetera</TH>
                        <TH>Estatus</TH>
                        <TH>Comentario</TH>
                        <TH>Responsable</TH>
                    </TR>
                     <TR>
                         <TD>{{reciboCross.1}}</TD>
                         <TD>{{reciboCross.3}}</TD>
                         <TD>{{reciboCross.4}}</TD>
                         <TD>{{reciboCross.5}}</TD>
                         <TD>{{reciboCross.8}}</TD>
                    </TR>
                </table>
                </div>
                {%endfor%}
                {%endif%}
                {%for Cross in  Crossdata%}
                <button class="accordion"><i class="fas fa-sitemap"> Pre-Alert  {{Cross.2}} - {{Cross.3}} | {{Cross.14}}</i></button>
                <div class="panel">
                    <table>
                        <TR>
                            <TH>Pre-Alert Key</TH>
                            <TH> Destino</TH>
                            <TH>Datos de Trasporte</TH>
                            <TH>Paquetera</TH>
                            <TH>Responsable</TH>
                        </TR>
                        <TR>
                            <TD>{{Cross.1}}</TD>
                            <TD>{{Cross.4}} - {{Cross.5}}</TD>
                            <TD>Transporte: {{Cross.6}}, Transportista: {{Cross.7}}, Placas: {{Cross.8}}, Marchamo: {{Cross.11}} </TD>
                            <TD>{{Cross.10}}</TD>
                            <TD>{{Cross.12}}</TD>
                        </TR>
                    </table>
                </div>
                {%endfor%}
            </div>
            </div>
            {%else%}
            <div class="Cross-Invalido">
                <button class="accordion"><i class="fas fa-sitemap">  Cross Dock</i></button>
                <div class="panel">
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
            {%if Fulldata|length >0%}
            <div class="Full-valido">
            <button class="accordion"><i class="fas fa-sitemap">   Fulfillment</i></button>
            <div class="panel">
                {%if reciboFulldata|length >0 %}
                {%for recibofull in  reciboFulldata%}
                <button class="accordion"><i class="fas fa-sitemap">  Reciving  {{recibofull.6}} - {{recibofull.7}} | {{recibofull.10}}</i></button>
                <div class="panel">
                <table>
                    <TR>
                        <TH>Pre-Alert Key</TH>
                        <TH>Paquetera</TH>
                        <TH>Estatus</TH>
                        <TH>Comentario</TH>
                        <TH>Responsable</TH>
                    </TR>
                     <TR>
                         <TD>{{recibofull.1}}</TD>
                         <TD>{{recibofull.3}}</TD>
                         <TD>{{recibofull.4}}</TD>
                         <TD>{{recibofull.5}}</TD>
                         <TD>{{recibofull.8}}</TD>
                    </TR>
                </table>
                </div>
                {%endfor%}
                {%endif%}
                {%for full in  Fulldata%}
                <button class="accordion"><i class="fas fa-sitemap"> Pre-Alert  {{full.2}} - {{full.3}} | {{full.14}}</i></button>
                <div class="panel">
                    <table>
                        <TR>
                            <TH>Pre-Alert Key</TH>
                            <TH> Destino</TH>
                            <TH>Datos de Trasporte</TH>
                            <TH>Paquetera</TH>
                            <TH>Responsable</TH>
                        </TR>
                        <TR>
                            <TD>{{full.1}}</TD>
                            <TD>{{full.4}} - {{full.5}}</TD>
                            <TD>Transporte: {{full.6}}, Transportista: {{full.7}}, Placas: {{full.8}}, Marchamo: {{full.11}} </TD>
                            <TD>{{full.10}}</TD>
                            <TD>{{full.12}}</TD>
                        </TR>
                    </table>
                </div>
                {%endfor%}
            </div>
            </div>
            {%else%}
            <div class="Full-Invalido">
                <button class="accordion"><i class="fas fa-sitemap">  Fulfillment</i></button>
                <div class="panel">
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
            
        </section>
    </div>
    <script src="{{url_for('static', filename='js/interfas.js')}}">
</script>
</body>
</html>
{% endblock %}